@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:host {
    background-color: rgb(10, 139, 190);
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    font-family: 'Roboto';
    height: 100%;
    color: white;
    overflow: auto;
}